.browse_roles .title-box{
    margin-top: -20px;
}

.neg-mg{
    position: relative;
    top: -10px;
}

.neg-mg-2{
    position: relative;
    top: -27px;
}

.functional-btns-container{
    margin-top: -20px;
}
