.browse_roles .title-box{
    margin-top: 20px;
}
.table{
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    background: #ffffff;
}

th,tr{
    margin: 5px 20px;
    width: 400px;
   
    padding: 5px 40px;
}

th{
    font-weight: 600;
    
}

td{
    text-align: center;
}