.main nav ul a,
nav .brand-logo {
  color: #444;
}

.main p {
  line-height: 2rem;
}

.main-text{
  padding: 15px;
}

.main-text h1{
  font-size: 58px;
}
.main h4{
  line-height: 3rem;
}
.main .sidenav-trigger {
  color: #26a69a;
}

.main h2{
  font-weight: bold;
}
.card{
  background: #A4A1CB !important;
  width: auto;
}
.btn-title{
  font-size: 20px;
}
.main .section{
  max-height: 400px;
}

.btn-box-talent,.btn-box-roles{
  margin-top: 20px;
}

.title-container{
  text-align: center;
}

.text-bold-extra{
  font-weight: bold;
}

.modal p{
  line-height: 1.2rem !important;
}

.input-field{
  margin: 0px 0px !important;
}

.modal-content{
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.modal-footer{
  margin-top: 0px !important;
}
.text-bold{
  font-weight: 400;
}

.main-btn-text{
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-box{
  margin: 5px 0px;
}


.main h5{
  font-weight: 500;
}
.main .parallax-container {
  margin-top: 0px;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
 .main .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .main .parallax-container .section {
    position: absolute;
    top: 40%;
  }
 .main #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
 h6{
  font-weight:400;
}
footer.page-footer {
  margin: 0;
}

.social-icons ul li {
  display:inline-block;
  vertical-align: top;
  width: auto;
  padding: 5px; 
}