body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  color:black;

 
  
}

.brand-logo > span,.brand-logo > img{
  vertical-align: middle;

}
h2{
  font-weight: 400;
  font-size: 22px;
}
h4{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.167;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{

text-overflow: ellipsis;

background: #0BAAC3;
color: #ffffff;
font-weight: 400;
font-size: 100%;

}

nav{

background-color: #0BAAC3;

}

nav .brand-logo{
  position: relative !important;
}

nav ul a{
  font-weight: 500 !important;
}
.pg{
  margin: 5px;
}

.modal .modal-content{
  background: #ffffff !important;
}

h2{
  font-weight: bold;
}


table.striped>tbody>tr:nth-child(odd) {
  background-color: #EEEEEE !important;
}

table{
  width: 100% !important;
  table-layout: fixed;
  
}
.table{
  height: 400px !important;
  width: 100% !important;

  overflow-y: auto !important;
  height: 400px;
  background: #ffffff;
}

table,thead,tr,th{
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  
}

th,tr{
  margin: 5px 20px;
  width: 170px;
  
}

th{
  
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  padding-left: 20px;
}
td{
 
  font-size: 13px;
  text-align: left;
  padding-left: 20px;
  word-wrap: break-word;
 
  
}

table.centered thead tr th, table.centered tbody tr td {
  text-align: left !important;
} 



table.centered thead tr th, table.centered tbody tr td {
  text-align: left !important;
} 

.entries-dets{
  font-weight: 600;
  font-size: 14px;
}