.lg-text{
    font-size: 1.05rem !important;
    margin-left: -12px !important;
}

.hiring-box{
    margin-bottom: 0px !important;
}
.form-desc-box{
    margin-bottom: 0 !important;
}

.talent-form p{
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;

}

.error-msg{
    color: red;
}
